
#logo {
  background: transparent url(logo.png);
  width: 210px;
  height: 49px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -105px;
}

#container {
	width: 460px;
	text-align: center;
  position: absolute;
  height: 100px;
  top: 45%;
  left: 50%;
  margin-top: -50px;
  margin-left: -230px;
}

body {
	font-family: -apple-system, BlinkMacSystemFont,
	'avenir next', avenir,
        'helvetica neue', helvetica,
	ubuntu,
	roboto, noto,
	'segoe ui', arial,
	sans-serif;
	font-size: 16px; /* Scale origin */
	color: #fff;
	line-height: 1.5;
  height: 100%;
  width: 100%;
  background-color: #263645;
	}

h1 {
	margin: 0;
	font-size: 48px;
	line-height: 1.5;
	font-weight: 700;
	text-transform: uppercase;
	}

h2 {
	margin: 0;
	font-size: 24px;
	line-height: 1.5;
	font-weight: 600;
	letter-spacing: 0.6.em;
	}

h3 {
	margin: 0;
	font-size: 18px;
	line-height: 1.5;
	font-weight: 600;
	letter-spacing: 0.6.em;
	color: #000000;
	}

p {
	margin: 16px 0 0;
	}

a {
	color:#357edd;
	text-decoration: none;
	}

a:visited{
	color:#96ccff;
  	}

a:hover{
	color:#00449e;
  	}

a:focus{
	color:#009eff;
	}

a:active{
	color:#001b44;
	}

.task-list {
	list-style: none;
}
